---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://en.wikipedia.org/wiki/Llama
    method: GET
  response:
    body: "<!DOCTYPE html>\n<html class=\"client-nojs\" lang=\"en\" dir=\"ltr\">\n<head>\n<meta
      charset=\"UTF-8\"/>\n<title>Llama - Wikipedia</title>\n<script>document.documentElement.className=\"client-js\";RLCONF={\"wgBreakFrames\":false,\"wgSeparatorTransformTable\":[\"\",\"\"],\"wgDigitTransformTable\":[\"\",\"\"],\"wgDefaultDateFormat\":\"dmy\",\"wgMonthNames\":[\"\",\"January\",\"February\",\"March\",\"April\",\"May\",\"June\",\"July\",\"August\",\"September\",\"October\",\"November\",\"December\"],\"wgRequestId\":\"fb3cef26-de2f-46c7-8ec0-0f72e376b863\",\"wgCSPNonce\":false,\"wgCanonicalNamespace\":\"\",\"wgCanonicalSpecialPageName\":false,\"wgNamespaceNumber\":0,\"wgPageName\":\"Llama\",\"wgTitle\":\"Llama\",\"wgCurRevisionId\":1062805735,\"wgRevisionId\":1062805735,\"wgArticleId\":18071,\"wgIsArticle\":true,\"wgIsRedirect\":false,\"wgAction\":\"view\",\"wgUserName\":null,\"wgUserGroups\":[\"*\"],\"wgCategories\":[\"CS1
      Spanish-language sources (es)\",\"CS1 maint: multiple names: authors list\",\"CS1
      errors: missing periodical\",\"CS1 maint: uses authors parameter\",\"Articles
      with short description\",\"Short description is different from Wikidata\",\"Wikipedia
      indefinitely move-protected pages\",\n\"Wikipedia pages semi-protected against
      vandalism\",\"Use dmy dates from August 2020\",\"Articles with 'species' microformats\",\"All
      articles with unsourced statements\",\"Articles with unsourced statements from
      January 2009\",\"All articles lacking reliable references\",\"Articles lacking
      reliable references from December 2019\",\"Wikipedia articles needing clarification
      from November 2010\",\"Articles lacking reliable references from June 2017\",\"Commons
      link is on Wikidata\",\"Wikipedia articles incorporating a citation from the
      1911 Encyclopaedia Britannica with Wikisource reference\",\"Wikipedia articles
      incorporating a citation from the Encyclopedia Americana with a Wikisource reference\",\"Taxonbars
      with automatically added original combinations\",\"Articles with GND identifiers\",\"Articles
      with BNF identifiers\",\"Articles with LCCN identifiers\",\"Articles with NDL
      identifiers\",\"Articles with NARA identifiers\",\"Domesticated animals\",\"Llamas\",\"Camelids\",\"Animal
      hair products\",\"Livestock\",\n\"Mammals of the Andes\",\"Mammals of Bolivia\",\"Mammals
      of Ecuador\",\"Mammals of Peru\",\"Pack animals\",\"Mammals described in 1758\",\"Taxa
      named by Carl Linnaeus\"],\"wgPageContentLanguage\":\"en\",\"wgPageContentModel\":\"wikitext\",\"wgRelevantPageName\":\"Llama\",\"wgRelevantArticleId\":18071,\"wgIsProbablyEditable\":false,\"wgRelevantPageIsProbablyEditable\":false,\"wgRestrictionEdit\":[\"autoconfirmed\"],\"wgRestrictionMove\":[\"sysop\"],\"wgFlaggedRevsParams\":{\"tags\":{\"status\":{\"levels\":-1}}},\"wgPopupsFlags\":10,\"wgVisualEditor\":{\"pageLanguageCode\":\"en\",\"pageLanguageDir\":\"ltr\",\"pageVariantFallbacks\":\"en\"},\"wgMFDisplayWikibaseDescriptions\":{\"search\":true,\"nearby\":true,\"watchlist\":true,\"tagline\":false},\"wgWMESchemaEditAttemptStepOversample\":false,\"wgWMEPageLength\":50000,\"wgNoticeProject\":\"wikipedia\",\"wgMediaViewerOnClick\":true,\"wgMediaViewerEnabledByDefault\":true,\"wgULSCurrentAutonym\":\"English\",\"wgEditSubmitButtonLabelPublish\":true,\"wgCentralAuthMobileDomain\":false,\"wgULSPosition\":\"interlanguage\",\n\"wgULSisCompactLinksEnabled\":true,\"wgWikibaseItemId\":\"Q42569\",\"wgGENewcomerTasksGuidanceEnabled\":true,\"wgGEAskQuestionEnabled\":false,\"wgGELinkRecommendationsFrontendEnabled\":false};RLSTATE={\"ext.globalCssJs.user.styles\":\"ready\",\"site.styles\":\"ready\",\"user.styles\":\"ready\",\"ext.globalCssJs.user\":\"ready\",\"user\":\"ready\",\"user.options\":\"loading\",\"ext.cite.styles\":\"ready\",\"skins.vector.styles.legacy\":\"ready\",\"jquery.makeCollapsible.styles\":\"ready\",\"ext.visualEditor.desktopArticleTarget.noscript\":\"ready\",\"ext.wikimediaBadges\":\"ready\",\"ext.uls.interlanguage\":\"ready\",\"wikibase.client.init\":\"ready\"};RLPAGEMODULES=[\"ext.cite.ux-enhancements\",\"ext.scribunto.logs\",\"site\",\"mediawiki.page.ready\",\"jquery.makeCollapsible\",\"mediawiki.toc\",\"skins.vector.legacy.js\",\"ext.gadget.ReferenceTooltips\",\"ext.gadget.charinsert\",\"ext.gadget.extra-toolbar-buttons\",\"ext.gadget.refToolbar\",\"ext.gadget.switcher\",\"mmv.head\",\"mmv.bootstrap.autostart\",\"ext.popups\",\"ext.visualEditor.desktopArticleTarget.init\",\n\"ext.visualEditor.targetLoader\",\"ext.eventLogging\",\"ext.wikimediaEvents\",\"ext.navigationTiming\",\"ext.cx.eventlogging.campaigns\",\"ext.centralNotice.geoIP\",\"ext.centralNotice.startUp\",\"ext.centralauth.centralautologin\",\"ext.uls.compactlinks\",\"ext.uls.interface\",\"ext.growthExperiments.SuggestedEditSession\"];</script>\n<script>(RLQ=window.RLQ||[]).push(function(){mw.loader.implement(\"user.options@1hzgi\",function($,jQuery,require,module){mw.user.tokens.set({\"patrolToken\":\"+\\\\\",\"watchToken\":\"+\\\\\",\"csrfToken\":\"+\\\\\"});});});</script>\n<link
      rel=\"stylesheet\" href=\"/w/load.php?lang=en&amp;modules=ext.cite.styles%7Cext.uls.interlanguage%7Cext.visualEditor.desktopArticleTarget.noscript%7Cext.wikimediaBadges%7Cjquery.makeCollapsible.styles%7Cskins.vector.styles.legacy%7Cwikibase.client.init&amp;only=styles&amp;skin=vector\"/>\n<script
      async=\"\" src=\"/w/load.php?lang=en&amp;modules=startup&amp;only=scripts&amp;raw=1&amp;skin=vector\"></script>\n<meta
      name=\"ResourceLoaderDynamicStyles\" content=\"\"/>\n<link rel=\"stylesheet\"
      href=\"/w/load.php?lang=en&amp;modules=site.styles&amp;only=styles&amp;skin=vector\"/>\n<meta
      name=\"generator\" content=\"MediaWiki 1.38.0-wmf.13\"/>\n<meta name=\"referrer\"
      content=\"origin\"/>\n<meta name=\"referrer\" content=\"origin-when-crossorigin\"/>\n<meta
      name=\"referrer\" content=\"origin-when-cross-origin\"/>\n<meta name=\"format-detection\"
      content=\"telephone=no\"/>\n<meta property=\"og:image\" content=\"https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Llamas%2C_Vernagt-Stausee%2C_Italy.jpg/1200px-Llamas%2C_Vernagt-Stausee%2C_Italy.jpg\"/>\n<meta
      property=\"og:image:width\" content=\"1200\"/>\n<meta pro[...]
